
.button.medium {
    display: block;
    height: 50px;
    width: 150px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59); 

    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 1.5em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

.button.medium:hover {
    background: #3d7a80;
}

.button.medium:active {
    background: #0d7a80;
}

.button.large {
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59); 

    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

.button.large:hover {
    background: #3d7a80;
}
